@model List<Disk>

<table class="table table-dark">
    <tr>
        <th>
            Имя диска
        </th>
        
        <th>
            Общий размер
        </th>
        
        <th>
            Свободное место
            </th>
       
    </tr>
 
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Name)
            </td>

            <td>
                @(long.Parse(item.SizeDisk) / 1000000000) Gb
            </td>

            <td>
                @(long.Parse(item.FreeSizeDisk) / 1000000000) Gb
            </td>
        </tr>
    }
</table>