@model List<Process>
<table class="table table-hover table-striped table-dark">
    <tr>
        <th>Process name</th>
        <th>Cpu %</th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
        <td>@item.Processes</td>
        <td>@item.Cpu %</td>
        </tr>
    }
    
</table>
