@model List<Ram>
<table class="table table-hover table-striped table-dark">
    <tr>
        <th>Total </th>
        <th>Free  %</th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
        <td>@(double.Parse(item.TotalRam) / 1000) Gb</td>
        <td>@(double.Parse(item.FreeRam) / 1000) Gb</td>
        </tr>
    }
    
</table>
