@{
    ViewData["Title"] = "Home Page";
}

<h4>@Html.ActionLink("Оперативная память","GetRam","Home")</h4>
<h4>@Html.ActionLink("Загруженность ЦП","GetProcess","Home")</h4>
<h4>@Html.ActionLink("Состояние дисков","GetDisk","Home")</h4>