@{
    ViewData["Title"] = "Home Page";
}

<div class="btn-group-lg mt-4 d-flex justify-content-around align-items-center">
    <a asp-action="GetRam" class="btn btn-warning">Ram</a>
    <a asp-action="GetProcess" class="btn btn-primary">Workload CPU</a>
    <a asp-action="GetDisk" class="btn btn-info">Status of disks</a>
</div>
